@media only screen and (max-width: 1000px) {

    .tab-action {
        display: block !important;
    }

    .tab-action-menu {
        width: 100% !important;
        min-height: auto !important;
        padding: 10px 20px;
        background: #eee;
        margin: 0 0 20px 0;
    }

    .tab-action-menu-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: calc((100% / 3) - 10px) !important;
        height: 50px;
        min-height: auto;
        line-height: 1;
        padding: 0 30px 0 10px;
        margin: 5px;
        border: 2px solid #01b88e;
        transition: all .3s ease;
        border-radius: 10px;
    }

    .inner-action {
        top: 0;
        right: 0;
        width: auto;
        height: auto;
    }

    .inner-action .inner-arrow {
        display: none;
    }

    .inner-count {
        width: auto;
        height: auto;
        padding: 6px;
        margin: 0;
        border-radius: 0;
        color: #01b88e;
        font-size: 12px;
        font-weight: 600;
        background: transparent;
    }

    .tab-action-menu-item-active .inner-count {
        color: #fff;
        background: transparent !important;
    }

    .tab-action-checkboxes {
        width: 100% !important;
    }

    .inner-control[_ngcontent-uaa-c3] {
        height: auto !important;
        padding: 0 20px;
        margin: 0;
        border-bottom: 2px solid #eee;
    }
}